<a href="https://colab.research.google.com/github/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior/blob/main/Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Data Driven Insights into Taekwondo Player Behavior
In this project, I am exploring Taekwondo players’ behaviour patterns using Machine Learning and feature engineering on Arabic-language data. The goal is to extract actionable insights for the club, while tackling challenges in data preprocessing and analysis.

### **Initialization**

In [565]:
# GitHub
!git clone https://github.com/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior
%cd Data-Driven-Insights-into-Taekwondo-Player-Behavior
!ls

Cloning into 'Data-Driven-Insights-into-Taekwondo-Player-Behavior'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (39/39), done.
Receiving objects: 100% (39/39), 56.85 KiB | 7.11 MiB/s, done.
remote: Total 39 (delta 20), reused 0 (delta 0), pack-reused 0 (from 0)
Resolving deltas: 100% (20/20), done.
/content/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior
 Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb
 README.md
'Registeration Data.csv'

In [566]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
!pip install gdown
import gdown

import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans

import warnings
warnings.filterwarnings("ignore")

# magic word for producing visualizations in notebook
%matplotlib inline

pd.options.display.max_rows = None
pd.options.display.max_columns = None

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.20.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2026.1.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

### **Loading Data**

In [567]:
# Load data.
data = pd.read_csv("Registeration Data.csv")
print('the shape of the data is:', data.shape)
data.head(5)

the shape of the data is: (194, 14)

,مستمر/ متوقف,اشتراك في,تاريخ ميلاد المشترك,ترتيب المشترك بين الأخوة,الصف,المدرسة,وظيفة ولي الأمر,مكان عمل ولي الأمر,هل مارس المشترك ألعاب قتالية سابقاً؟,حالة المشترك الصحية,هل أجري للمشترك عمليات جراحية؟,ملاحظات خاصة بالمشترك,عنوان السكن,المواصلات
0,متوقف,تايكواندو,3-10-2011,الأول,الثامن,عايش السيد,أستاذ,مدرسة صادق نيروخ,لم يمارس,العمر العقلي أقل من أقرانه,لا,عبد الرحمن خجول جدا و غير اجتماعي و بحاجة إلى دعم,الخليل واد القطع بجانب دوار الزرزور - بيت سعيد...,نعم
1,متوقف,تايكواندو,30/7/2017,الأول,الثاني,مدرسه الرساله الخاصه,موظف حكومي,المؤتمر الوطني الشعبي للقدس - رام الله,لم يمارس,جيدة,لا,يوجد ضعف نظر بسيط \nيلبس نظاره طبيه,الخليل شارع نمره جانب كلاج مسوده,نعم
2,متوقف,تايكواندو,١٤/٦/٢٠١٥,الأول,الثالث,جمعية الشبان المسلمين,محاسب /,محلات أبو عيشة لقطع السيارات الالمانية /شارع ا...,لم يمارس,جيدة,عملية لوز,بحاجة لأن تكون ثقته بنفسه اكبر,واد القاضي دخلة مدرسة انس بن مالك,نعم
3,متوقف,تايكواندو,17/10/2016,الثاني,الثاني,جمعية الشبان المسلمين,محاسب,محلات ابو عيشة لقطع السيارات,لم يمارس,جيدة,لا,بناء ثقة اكبر,واد القاضي دخلة مدرسة انس بن مالك,نعم
4,متوقف,تايكواندو,٢٥/٦/٢٠١٨,الأول,الأول,جمعية الشبان المسلمين,تاجر ملابس,الخليل,0595422122,0595422123,لا,لا,الخليل /المنطقه الجنوبيه /وادي القاضي,نعم

In [568]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   مستمر/ متوقف                          191 non-null    object
 1   اشتراك في                             192 non-null    object
 2   تاريخ ميلاد المشترك                   191 non-null    object
 3   ترتيب المشترك بين الأخوة              191 non-null    object
 4   الصف                                  191 non-null    object
 5   المدرسة                               191 non-null    object
 6   وظيفة ولي الأمر                       191 non-null    object
 7   مكان عمل ولي الأمر                    191 non-null    object
 8   هل مارس المشترك ألعاب قتالية سابقاً؟  191 non-null    object
 9   حالة المشترك الصحية                   191 non-null    object
 10  هل أجري للمشترك عمليات جراحية؟        191 non-null    object
 11  ملاحظات خاصة بالمشترك                 191 non-null    object
 12  عنوان السكن                           191 non-null    object
 13  المواصلات                             191 non-null    object
dtypes: object(14)
memory usage: 21.3+ KB

### **Renaming form Arabic to English**

In [569]:
# Renaming Columns from English to Arabic
data = data.rename(columns={
    'مستمر/ متوقف': 'player_status',
    'اشتراك في': 'desired_activity',
    'تاريخ ميلاد المشترك': 'birthday',
    'ترتيب المشترك بين الأخوة': 'family_order',
    'الصف': 'school_grade',
    'المدرسة': 'school',
    'وظيفة ولي الأمر': 'guardian_job',
    'مكان عمل ولي الأمر': 'guardian_job_location',
    'هل مارس المشترك ألعاب قتالية سابقاً؟': 'previous_fighting_experience',
    'حالة المشترك الصحية': 'has_health_condition',
    'هل أجري للمشترك عمليات جراحية؟': 'had_surgery',
    'ملاحظات خاصة بالمشترك': 'special_notes',
    'المواصلات':'needs_transportaion',
    'عنوان السكن':'address'
})

In [570]:
data = data.drop(['address','special_notes'], axis = 1)

In [571]:
data['player_status'].value_counts()

player_status
متوقف    130
مستمر     45
نصاب      16
Name: count, dtype: int64

In [572]:
# player_status: may be  stopped, continuous, or swindler.
data['player_status'] = data['player_status'].str.lower().map({
    'متوقف': 'stopped',
    'مستمر': 'continuous',
    'نصاب': 'swindler'
})

In [573]:
data['player_status'].value_counts()

player_status
stopped       130
continuous     45
swindler       16
Name: count, dtype: int64

In [574]:
data['desired_activity'].value_counts()

desired_activity
تايكواندو                                         170
مخيم                                               11
ننشاكو                                              2
جمباز                                               2
كراتيه                                              2
ضرب البوكس او الملاكمة                              1
كرتيه                                               1
ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو       1
كرتيه                                               1
.                                                   1
Name: count, dtype: int64

In [575]:
# desired_activity: may be  taekwondo, camp, gumbaz, karate, or boxing.
# later in the project, all other choices rather than Taekwondo will be eleminated.
data['desired_activity'] = data['desired_activity'].str.lower().map({
    'تايكواندو': 'taekwondo',
    'مخيم': 'camp',
    'جمباز': 'gumbaz',
    'كراتيه': 'karate',
    'ضرب البوكس او الملاكمة': 'boxing',
    'كرتيه': 'karate',
    'ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو': 'taekwondo',
    'كرتيه': 'karate',
    '.':'taekwondo'
})

In [576]:
data['desired_activity'].value_counts()

desired_activity
taekwondo    171
camp          11
karate         3
gumbaz         2
boxing         1
Name: count, dtype: int64

In [577]:
data['family_order'].value_counts()

family_order
الأول      76
الثاني     39
الثالث     31
الخامس     16
الرابع     16
السادس      6
السادس      2
السابع      2
الاول       1
6           1
الثامن      1
Name: count, dtype: int64

In [578]:
data['family_order'] = data['family_order'].str.lower().map({
    'الأول': 1,
    'الاول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    'السادس': 6,
    '6': 6,
    'السابع': 7,
    'الثامن': 8
})

In [579]:
data['family_order'].value_counts()

family_order
1.0    76
2.0    39
3.0    31
4.0    16
5.0    16
6.0     7
7.0     2
8.0     1
Name: count, dtype: int64

In [580]:
data['school_grade'].value_counts()

school_grade
الأول              40
الثاني             37
الثالث             21
الرابع             20
السادس             15
الثامن             14
الخامس             13
السابع             11
تمهيدي              4
تمهيدي              3
روضة                2
روضه                2
.                   2
جامعة               1
عاشر                1
مدخلش اشي اسعان     1
روضة                1
روضه                1
التاسع              1
تمهيدي روضة         1
Name: count, dtype: int64

In [581]:
# school_grade: from 1-10 are school grades, 100 is high education, and -1 is kindergaten
data['school_grade'] = data['school_grade'].str.lower().map({
    'الأول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    'السابع': 7,
    'الثامن': 8,
    'التاسع': 9,
    'عاشر': 10,
    'جامعة': 100,
    'تمهيدي': -1,
    'روضة': -1,
    'روضه': -1,
    'مدخلش اشي اسعان': -1,
    'تمهيدي روضة': -1
})

In [582]:
data['school_grade'].value_counts()

school_grade
 1.0      40
 2.0      37
 3.0      21
 4.0      20
 6.0      15
 8.0      14
 5.0      13
 7.0      11
-1.0      10
 100.0     1
 10.0      1
Name: count, dtype: int64

In [583]:
data['school'].value_counts()

school
الرحمه                                     7
جمعية الشبان المسلمين                      4
عبد الحي شاهين                             4
انس بن مالك                                4
جمعية الشبان المسلمين                      3
جبريل زلوم                                 3
نظيرة                                      3
رواد المعرفة                               3
انصار الابداع                              3
شبان المسلمين                              2
الرحمة                                     2
مدرسة الجامعة النموذجية الشاملة            2
أبراهيم الشيخ دره                          2
الازهار                                    2
رواد المعرفة                               2
عبد الله بن مسعود                          2
بنات الخليل الاساسية                       2
السعدية                                    2
ابن العربي                                 2
طلائع خليل الرحمن                          2
عايش السيد                                 2
الفاروق                                    2
علماء الإسلام                              2
الامام علي                                 2
الرساله                                    2
مدرسة الدجاني                              2
اسحاق شاور للبنين                          1
جامعة                                      1
روضه                                       1
الحاجه نظيره                               1
المدرسة الشرعية                            1
الحاجه نظيره ابو ارميله                    1
الانجيليه العربيه                          1
روضة المحبة                                1
مدرسه الرساله الخاصه                       1
الفاروق                                    1
اسحاق شاور للبنين                          1
مدرسة الجامعة النكوذجية                    1
المدرسه الحديثه                            1
جلوري                                      1
العهد الخاصه                               1
روضة الذكاء العقلي                         1
ابراهيم ابو الضبعات                        1
نظيره ابو رميله                            1
براعم الاقص                                1
جمعية شبان المسلمين                        1
ذكور الشرعيه الثانويه                      1
نظيرة ابو ارميله                           1
راضي شاكر النتشة                           1
نظيره                                      1
فهد القواسمه                               1
مدرسة الجامعة                              1
مدرسة ساوث                                 1
الجامعة النموذجية                          1
ابن النفيس                                 1
الهاجريه                                   1
الغدير                                     1
النخبة                                     1
أحلام الصغار                               1
روابي المختلطه الاساسيه                    1
مدخلش مدرسه                                1
أحلام الصغار                               1
جلوري العالميه                             1
الرحمة الأساسية للبنات                     1
روضة فرح ومرح                              1
الدكتور اسحق شاور                          1
مدرسة الدكتور اسحق شاور الاساسيه للبنين    1
مدرسة الدجاني                              1
انس ابن مالك                               1
ابو غزالة                                  1
مدرسة الأمل                                1
مدرسة نور الغد                             1
الرابطه                                    1
مدرسة العروب الأساسية للبنين               1
أنس ابن مالك                               1
مدرسة جلوري                                1
خرسا                                       1
الدكتور اسحق خليل شاور الاساسية            1
الحاجه نظيره للبنين                        1
اسحاق شاور                                 1
المدرسة الحديثة                            1
النخبه                                     1
النخبه                                     1
اسحق شاور                                  1
الحاجة نظيرة                               1
عبد الحي شاهين                             1
روضة                                       1
روضة المميزون                              1
مدرسة الرسالة                              1
ابن الربيع                                 1
وصايا رسول الله                            1
بركات الاساسية                             1
‏الأكاديمية                                1
مدرسة المستقبل الخاصة                      1
رابطة الجامعين                             1
زكاء العقلي                                1
الرحمة                                     1
غازي القوسمه                               1
الاكاديمبه                                 1
المستقبل                                   1
الجامعه                                    1
مدرسه الرحمه الاساسيه                      1
النخبة                                     1
الانروا للبنات                             1
حربي ابو الضبعات                           1
انس بن مالك                                1
دعاء الخير                                 1
مدرسة النور الخاصة                         1
اكاديمية القادة                            1
المنار                                     1
مدرسة الجامعة النموذجية                    1
العهد                                      1
مدرسة الرحمة للذكور                        1
الشبان المسلمين                            1
نور الحق                                   1
المدرسه الشرعيه للاولاد                    1
المستقبل                                   1
وداد ناصر الدين .                          1
المدرسة الانجلية العربيه                   1
المحمديه                                   1
مدرسة غازي القواسمه                        1
الشرعية                                    1
المدرسة الشرعية للبنات                     1
مدرسة انس  ابن مالك                        1
كندر كيدز                                  1
روضة المواهب                               1
مدرسة الرحمة الأساسية للذكور               1
الرحمة للذكور                              1
زلوم                                       1
مدرسة السعدية                              1
مدرسة الدويك                               1
فهد القواسمة                               1
اسحق شاور الاساسية للبنين                  1
الإمام علي                                 1
دويك                                       1
العهد الخاثة                               1
.                                          1
الشهيد غازي القواسمي                       1
الخبراء النموذجية                          1
مدرسه الحاجه نظيره                         1
الحاجه نظيره                               1
النخبة النموذجية                           1
تيسير مسودي                                1
دار السلام                                 1
العهد الخاصه                               1
الهدى                                      1
معهد الخليل الأزهري                        1
ابن رشد                                    1
روضة ابن النفيس                            1
Name: count, dtype: int64

In [584]:
def classify_school(name):

    if pd.isna(name):
        return 'other'

    if (
        'الحي' in name or 'السعدية' in name or 'عايش' in name or 'الفاروق' in name or 'علي' in name or
        'الدجاني' in name or 'شاور' in name or 'ابراهيم' in name or 'راضي' in name or 'فهد' in name or
        'الهاجر' in name or 'الغدير' in name or 'غزالة' in name or 'شاهين' in name or 'غازي' in name or
        'الضبعات' in name or 'وداد' in name or 'المحمدية' in name or 'زلوم' in name or 'الدويك' in name or
        'تيسير' in name or 'رشد' in name
    ):
      return 'public'

    return 'private'

In [585]:
data['school'] = data['school'].apply(classify_school)

In [586]:
data['school'].value_counts()

school
private    145
public      46
other        3
Name: count, dtype: int64

In [587]:
data['guardian_job'].value_counts()

guardian_job
تاجر                                   40
تاجر                                    7
موظف                                    6
عامل                                    6
طبيب                                    5
ربة بيت                                 4
محاسب                                   4
عامل                                    4
فني اسنان                               3
موظف خاص                                3
مهندس                                   3
تاجر ملابس                              3
محامي                                   2
رجل اعمال                               2
طبيب مخبري                              2
فني اسنان                               2
ممرضة قانونية                           2
فني كهرباء                              2
نجار                                    2
مطعم                                    2
تكنولوجيا واتمتة صناعية                 2
مندوب مبيعات                            2
تصميم وطباعة                            2
ربه منزل                                2
تاجر مواد غذائية                        1
شركة توصيل اون لاين                     1
ربة منزل                                1
ميكانيكي                                1
أستاذ                                   1
موظف حكومي                              1
محاسب /                                 1
طبيب عيون                               1
طبيب عيون                               1
عامل بناء                               1
نجار                                    1
صاحب شركة فرج زلوم لاطارات السيارات     1
لحام                                    1
دكتور جامعي                             1
صرافه وحوالات                           1
اختصاصي بصريات                          1
موظف في حلويات سلطان باشا               1
حلويات سلطان باشا                       1
مدير مشاريع                             1
مهندس الكترونيات                        1
كهربجي                                  1
موضف حكومي                              1
دكتور اسنان                             1
مندوب مبيعات                            1
سائق                                    1
معلم                                    1
تاجر أقمشة                              1
مهندس ميكانيك                           1
خياط                                    1
موظف وزارة المالية                      1
مدير معرض                               1
مسؤول علاقات عامة وإعلام                1
فني أسنان                               1
معلمة                                   1
مهندس ومدير شركة فيرتكس للمصاعد         1
موظف  وزارة المالية                     1
Supply chain supervisor                 1
محاضر في جامعة البوليتكنك               1
دهان خشب                                1
اختصاصي تصوير طبي                       1
مطعم                                    1
مديرة                                   1
ديكور خشب                               1
منشار                                   1
موظف قطاع خاص                           1
اعمل حره                                1
تجارة                                   1
مهندس في شركة                           1
شركة حج وعمرة                           1
تاجره                                   1
‏وتاجر                                  1
مدير مبيعات                             1
امين مستودع                             1
مدير شركة المشرق للتأمين                1
لاشي                                    1
مهندس                                   1
تمديدات صحية                            1
صاحب شركه فنون للرافعات                 1
محاسب في شركة الموارد الوطنية           1
موظف حكومي                              1
مدير شركه                               1
طباخ                                    1
حلواني                                  1
محاضر                                   1
موظف خاص                                1
فني دهان بيوت                           1
استاذ                                   1
أسير عند سجون الاحتلال                  1
اسير لدى سجون الاحتلال                  1
.                                       1
عامل في مصنع بلاستيك                    1
مهندس كهرباء                            1
صاحب مطعم البشاوات                      1
ميكانيكي                                1
حداد                                    1
حداد                                    1
مرشد تربوي                              1
مواطن                                   1
تصليح هواتف                             1
Name: count, dtype: int64

In [588]:
def classify_job(job):

    if pd.isna(job):
        return 'other'

    if (
        'موظف' in job or 'عامل' in job or 'مندوب' in job or
        'أستاذ' in job or 'جامعي' in job or 'حكومي' in job or
        'معلم' in job or 'مسؤول ' in job or 'supervisor' in job or
        'جامعة' in job or 'محاسب' in job or 'استاذ' in job or
        'مرشد' in job or 'محاضر' in job
    ):
        return 'employed'

    if (
        'بيت' in job or 'منزل' in job or 'لاشي' in job or 'سجون' in job or '.' in job or 'مواطن' in job
    ):
        return 'unemployed'

    return 'self_employed'

In [589]:
data['guardian_job'] = data['guardian_job'].apply(classify_job)

In [590]:
data['guardian_job'].value_counts()

guardian_job
self_employed    131
employed          48
unemployed        12
other              3
Name: count, dtype: int64

In [591]:
data['guardian_job_location'].value_counts()

guardian_job_location
الخليل                                                 41
الخليل                                                 18
دورا                                                    3
البلد شارع الملك فيصل                                   2
دورا                                                    2
مستشفى عالية الحكومي                                    2
طلعة ادعيس                                              2
عين سارة                                                2
كهرباء الخليل                                           2
حلحول                                                   2
البيت                                                   2
الخليل الحاووز الاول                                    2
ابو عيشة لقطع السيارات                                  2
لا يوجد                                                 2
شارع واد التفاح                                         2
البلد -دوار الساعه                                      1
الخليل/تفوح                                             1
المستشفى الاهلي                                         1
مستشفى سان جون                                          1
مستشفى سان جون                                          1
شارع بئر السبع                                          1
شارع السلام مقابل صيدلية الشماس                         1
صحة الخليل                                              1
شارع السلام ملحمة البيك                                 1
شركة حلقوم وحلويات الماسة تفوح                          1
الخليل مقابل دائره السير                                1
لا اعمل                                                 1
الحاووز الثاني                                          1
الخليل - عين سارة                                       1
الظاهريه                                                1
محل تجاري ( باب الزاوية )                               1
بلا عمل                                                 1
واد الهريه                                              1
السعودية                                                1
شارع السلام                                             1
شارع السلام                                             1
سعير                                                    1
هيبرون سنتر A                                           1
معرض الامير للمفروشات                                   1
مدرسة الراشدين الثانويه                                 1
المقاطعة                                                1
المنطقه الصناعيه                                        1
مطعم و مشاوي المدينة                                    1
الخليل .دوار الصحه                                      1
خرسا -الدير                                             1
امريكا                                                  1
دوار الشعراوي .                                         1
المحاور بالقرب من نادي الفروسية                         1
شركة سنقرط                                              1
عيصى                                                    1
عسقلان                                                  1
جامعه الخليل                                            1
محلات ابو عيشة لقطع السيارات                            1
مدرسة صادق نيروخ                                        1
محلات أبو عيشة لقطع السيارات الالمانية /شارع السلام     1
المؤتمر الوطني الشعبي للقدس - رام الله                  1
رأس الجورة                                              1
باب الزاويه مقابل صيدلية الرازي                         1
دوره                                                    1
جامعة البوليتكنك                                        1
واد الهرية                                              1
الخليل عمارة الواحة مختبر بيروت                         1
الخليل دوار ابن رشد عمارة الواحة                        1
اطباء بلا حدود                                          1
باب الزاوية                                             1
غير محددد متنقل                                         1
دوا الصحه                                               1
دوار الصحه                                              1
رام الله                                                1
واد التفاح عمارة الكنز معرض الاقصى للمنسوجات            1
الجلده                                                  1
الخليل /باب الزاويه                                     1
دائرة السير                                             1
الخليل جبل ابو رمان                                     1
بيت أمر                                                 1
الخليل-وادي ابو كتيلا                                   1
الخليل/دوار الصحة                                       1
الخليل شارع السلام                                      1
الخليل واد الهريه                                       1
الخليل شارع السلام مقابل كازية السلام                   1
الخليل شارع السلام مقابل كازية السلام                   1
الهليل                                                  1
الجلده                                                  1
ترقوميا                                                 1
‏مكان العمل                                             1
المستشفى الاهلي                                         1
وزارة الصحة الفلسطينية                                  1
الخليل واد الهريه أبو شرخ للالبسة                       1
سما مول                                                 1
بيت لحم                                                 1
الخليل بيت كاحل                                         1
مجمع فلسطين الطبي                                       1
الخليل ابن رشد                                          1
نمرة                                                    1
شارعةالعدل                                              1
واد ابو كتيلة بجانب ديوان الجنيدي                       1
محكمه الخليل                                            1
جامعة بوليتكنك فلسطين                                   1
المنطقة الصناعية الفحص                                  1
محكمة الخليل                                            1
المنطقة الصناعية                                        1
البيت                                                   1
بيت فجار                                                1
الخليل ابن رشد                                          1
الخليل بجانب روضة الذكاء العقلي                         1
الخليل مقابل روضة الذكاء العقلي                         1
جمعية الإحسان                                           1
جامعة القدس                                             1
مطعم  ملك الفلافل                                       1
ملك الفلافل                                             1
.                                                       1
….                                                      1
الهيبرون سنترa                                          1
داخل الخط الاخضر                                        1
بلدية الخليل                                            1
الخليل الحاووز                                          1
قرن الثور                                               1
قرن الثور طريق المقاطعة                                 1
مدرسة طارق بن زياد الثانوية للبنين                      1
عصيون رامي لڤي                                          1
Name: count, dtype: int64

In [592]:
def classify_job_location(location):

# near: inside th city. far: outside the city.
    if pd.isna(location):
        return 'other'

    if (
        'دورا' in location or 'حلحول' in location or 'تفوح' in location or 'الظاهريه' in location or 'السعودية' in location or
         'سعير' in location or 'خرسا' in location or 'امريكا' in location or 'عسقلان' in location or 'رام الله' in location or
         'دوره' in location or 'بيت أمر' in location or 'ترقوميا' in location or 'بيت لحم' in location or 'بيت كاحل' in location or
         'بيت فجار' in location or 'الخط الاخضر' in location or 'عصيون' in location
    ):
        return 'far'

    return 'near'

In [593]:
data['guardian_job_location'] = data['guardian_job_location'].apply(classify_job_location)

In [594]:
data['guardian_job_location'].value_counts()

guardian_job_location
near     166
far       25
other      3
Name: count, dtype: int64

In [595]:
data['previous_fighting_experience'].value_counts()

previous_fighting_experience
لم يمارس                                                                                                             168
كاراتيه                                                                                                                6
كراتيه                                                                                                                 2
كيك بوكسينغ لمدة شهر                                                                                                   2
تايكوندو                                                                                                               2
جمباز مدة سنة                                                                                                          1
تايكواندو                                                                                                              1
0595422122                                                                                                             1
كاراتيه ، في المدرسة الكورية الفلسطينية للبنين لمدة سنة ، كيك بوكسنج لمدة نصف سنة في نادي رياضي مقابل الخليل مول       1
كراتية بجمعية سيدات الخليل انهى الحزام الاصفر                                                                          1
نادي غرس القرآني شارع العدل الخليل                                                                                     1
كان في النادي عندكم سابقا                                                                                              1
 كيك بوكسنك                                                                                                            1
  كارتيه                                                                                                               1
دورات سباحة                                                                                                            1
كارتيه للحزام الازرق وبعدها ما راح                                                                                     1
Name: count, dtype: int64

In [596]:
def classify_previous_experience(answer):
# has experience: 1. Does not have: 0. Unknown: -1
    if pd.isna(answer):
        return -1

    if ('لم يمارس' in answer):
        return 0

    return 1

In [597]:
data['previous_fighting_experience'] = data['previous_fighting_experience'].apply(classify_previous_experience)

In [598]:
data['previous_fighting_experience'].value_counts()

previous_fighting_experience
 0    168
 1     23
-1      3
Name: count, dtype: int64

In [599]:
data['has_health_condition'].value_counts()

has_health_condition
جيدة                                  182
لديه مشكله هبوط فالسكر                  2
العمر العقلي أقل من أقرانه              1
0595422123                              1
ضعف بالنظر                              1
إمساك مزمن                              1
حساسية في الجهاز التنفسي                1
نقص في الحديد وفيتامين د                1
ممنوع لمس الرأس لمشاكل صحية معينة       1
Name: count, dtype: int64

In [600]:
def classify_helath_case(condition):
# has health conditions: 1. Does not have health conditions: 0. Unknown: -1
    if pd.isna(condition):
        return -1

    if ('جيدة' in condition):
        return 0

    return 1

In [601]:
data['has_health_condition'] = data['has_health_condition'].apply(classify_helath_case)

In [602]:
data['has_health_condition'].value_counts()

has_health_condition
 0    182
 1      9
-1      3
Name: count, dtype: int64

In [603]:
data['had_surgery'].value_counts()

had_surgery
لا                                    167
عملية لوز                               1
عملية تنزيل خصية مهاجرة                 1
 عمليه افتاق قبل سنتين                  1
إزالة اللوزتين                          1
عملية فقط لوز وجيوب انفية               1
نعم عملية فتاق                          1
عملية فتاق                              1
عملية تثبيت خصيه                        1
عملية إزالة اللحمية واللوزتين           1
استئصال اللوزتين،اللحمية                1
إزالة لحمية أنف وحنجرة                  1
لوز ولحمية و تيوبات في الاذن            1
فتاق                                    1
ازالة لوز ولحمية                        1
عملية تقويم اعوجاج بالمنطقة الخاصة      1
نفخ مصارين                              1
ازالة الزائدة الدودية                   1
٢ عمليات العيون                         1
ازالة اللوز                             1
عملية لوز                               1
عملية لحمية                             1
نعم                                     1
فتح باب معدة                            1
الفتاق                                  1
Name: count, dtype: int64

In [604]:
def classify_surgery_history(surgery):
# had surgery: 1. Did not have surgery: 0. Unknown: -1
    if pd.isna(surgery):
        return -1

    if ('لا' in surgery):
        return 0

    return 1

In [605]:
data['had_surgery'] = data['had_surgery'].apply(classify_surgery_history)

In [606]:
data['had_surgery'].value_counts()

had_surgery
 0    168
 1     23
-1      3
Name: count, dtype: int64

In [607]:
data['needs_transportaion'].value_counts()

needs_transportaion
نعم           105
لا             82
حسب             1
نصف مواصلة      1
ربما            1
لا              1
Name: count, dtype: int64

In [608]:
def classify_transportaion_need(transport):
# needs transportaion: 1. Does not need transportaion: 0.

    if pd.isna(transport):
        return 0

    if ('لا' in transport):
        return 0

    return 1

In [609]:
data['needs_transportaion'] = data['needs_transportaion'].apply(classify_transportaion_need)

In [610]:
data['needs_transportaion'].value_counts()

needs_transportaion
1    108
0     86
Name: count, dtype: int64

In [611]:
data['needs_transportaion'].value_counts()

needs_transportaion
1    108
0     86
Name: count, dtype: int64

In [612]:
print('the shape of the data is:', data.shape)
data.head(25)

the shape of the data is: (194, 12)

,player_status,desired_activity,birthday,family_order,school_grade,school,guardian_job,guardian_job_location,previous_fighting_experience,has_health_condition,had_surgery,needs_transportaion
0,stopped,taekwondo,3-10-2011,1.0,8.0,public,employed,near,0,1,0,1
1,stopped,taekwondo,30/7/2017,1.0,2.0,private,employed,far,0,0,0,1
2,stopped,taekwondo,١٤/٦/٢٠١٥,1.0,3.0,private,employed,near,0,0,1,1
3,stopped,taekwondo,17/10/2016,2.0,2.0,private,employed,near,0,0,0,1
4,stopped,taekwondo,٢٥/٦/٢٠١٨,1.0,1.0,private,self_employed,near,1,1,0,1
5,stopped,taekwondo,3/5/2018,1.0,1.0,private,self_employed,near,0,0,1,1
6,stopped,taekwondo,14/9/2019,2.0,NaN,private,self_employed,near,0,0,0,1
7,stopped,taekwondo,12/5/2013,NaN,6.0,private,self_employed,near,0,0,0,0
8,stopped,taekwondo,15-5-2012,4.0,7.0,private,self_employed,near,0,0,0,1
9,stopped,taekwondo,11-11-2015,1.0,3.0,private,self_employed,near,0,0,0,1
10,stopped,taekwondo,17.11.2016,4.0,3.0,private,employed,near,0,0,0,1
11,stopped,taekwondo,١٧/٤/٢٠١٢,1.0,7.0,private,self_employed,near,0,0,0,0
12,stopped,taekwondo,25/06/2015,1.0,4.0,public,self_employed,near,0,0,0,1
13,stopped,taekwondo,7/1/2013,2.0,7.0,public,employed,near,0,0,0,0
14,stopped,taekwondo,28/12/2016,3.0,3.0,public,employed,near,0,0,0,0
15,stopped,taekwondo,7/6/2003,4.0,100.0,private,self_employed,near,0,0,0,0
16,stopped,boxing,22/9/2016,1.0,3.0,private,self_employed,near,1,0,0,1
17,stopped,taekwondo,١٤/١/٢٠٢٠,1.0,-1.0,private,self_employed,near,0,0,0,0
18,stopped,taekwondo,١/٦/٢٠١٧,1.0,2.0,private,employed,near,0,0,0,1
19,stopped,taekwondo,26/4/2016,NaN,3.0,private,self_employed,far,0,0,0,1
20,stopped,taekwondo,٢٥_١٠_٢٠١٩,2.0,1.0,private,employed,far,0,0,0,1
21,stopped,taekwondo,٢٤/٢/٢٠١٥,1.0,4.0,private,self_employed,near,0,0,0,1
22,stopped,taekwondo,١٠-٢-٢٠١٨,1.0,2.0,private,unemployed,near,1,0,0,0
23,stopped,taekwondo,25/2/2017,2.0,2.0,private,self_employed,near,0,0,0,1
24,stopped,taekwondo,4/2/2018,2.0,1.0,private,self_employed,near,0,0,0,1

In [613]:
#data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')

In [614]:
#data['birthday'].value_counts()

### Feature Engineering

In [615]:
# player_status: may be  stopped(0), continuous(1), or swindler(2)
"""data['player_status'] = data['player_status'].str.lower().map({
    'متوقف': 0,
    'مستمر': 1,
    'نصاب': 2
})"""

"data['player_status'] = data['player_status'].str.lower().map({\n    'متوقف': 0,\n    'مستمر': 1,\n    'نصاب': 2\n})"