<a href="https://colab.research.google.com/github/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior/blob/main/Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Data Driven Insights into Taekwondo Player Behavior
In this project, I am exploring Taekwondo players’ behaviour patterns using Machine Learning and feature engineering on Arabic-language data. The goal is to extract actionable insights for the club, while tackling challenges in data preprocessing and analysis.

### **Initialization**

In [797]:
# GitHub
!git clone https://github.com/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior
%cd Data-Driven-Insights-into-Taekwondo-Player-Behavior
!ls

Cloning into 'Data-Driven-Insights-into-Taekwondo-Player-Behavior'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 41 (delta 20), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (41/41), 266.39 KiB | 2.26 MiB/s, done.
Resolving deltas: 100% (20/20), done.
/content/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior
 Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb
 README.md
'Registeration Data.csv'

In [798]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
!pip install gdown
import gdown

import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, fbeta_score, accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, roc_curve, roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.pipeline import Pipeline

from sklearn.model_selection  import GridSearchCV
from sklearn.metrics import make_scorer


import warnings
warnings.filterwarnings("ignore")

# magic word for producing visualizations in notebook
%matplotlib inline

pd.options.display.max_rows = None
pd.options.display.max_columns = None

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.21.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2026.1.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

### **Loading Data**

In [799]:
# Load data.
data = pd.read_csv("Registeration Data.csv")
print('the shape of the data is:', data.shape)
data.head(25)

the shape of the data is: (194, 12)

,مستمر/ متوقف,اشتراك في,تاريخ ميلاد المشترك,ترتيب المشترك بين الأخوة,الصف,المدرسة,وظيفة ولي الأمر,مكان عمل ولي الأمر,هل مارس المشترك ألعاب قتالية سابقاً؟,حالة المشترك الصحية,هل أجري للمشترك عمليات جراحية؟,المواصلات
0,متوقف,تايكواندو,3-10-2011,الأول,الثامن,عايش السيد,أستاذ,مدرسة صادق نيروخ,لم يمارس,العمر العقلي أقل من أقرانه,لا,نعم
1,متوقف,تايكواندو,30/7/2017,الأول,الثاني,مدرسه الرساله الخاصه,موظف حكومي,المؤتمر الوطني الشعبي للقدس - رام الله,لم يمارس,جيدة,لا,نعم
2,متوقف,تايكواندو,١٤/٦/٢٠١٥,الأول,الثالث,جمعية الشبان المسلمين,محاسب /,محلات أبو عيشة لقطع السيارات الالمانية /شارع ا...,لم يمارس,جيدة,عملية لوز,نعم
3,متوقف,تايكواندو,17/10/2016,الثاني,الثاني,جمعية الشبان المسلمين,محاسب,محلات ابو عيشة لقطع السيارات,لم يمارس,جيدة,لا,نعم
4,متوقف,تايكواندو,٢٥/٦/٢٠١٨,الأول,الأول,جمعية الشبان المسلمين,تاجر ملابس,الخليل,0595422122,0595422123,لا,نعم
5,متوقف,تايكواندو,3/5/2018,الأول,الأول,الرحمة,طبيب عيون,مستشفى سان جون,لم يمارس,جيدة,عملية تنزيل خصية مهاجرة,نعم
6,متوقف,تايكواندو,14/9/2019,الثاني,تمهيدي,روضة المحبة,طبيب عيون,مستشفى سان جون,لم يمارس,جيدة,لا,نعم
7,متوقف,تايكواندو,12/5/2013,الاول,السادس,الحاجه نظيره,تاجر,الخليل,لم يمارس,جيدة,لا,لا
8,متوقف,تايكواندو,15-5-2012,الرابع,السابع,المدرسة الشرعية,تاجر,الخليل,لم يمارس,جيدة,لا,نعم
9,متوقف,تايكواندو,11-11-2015,الأول,الثالث,الانجيليه العربيه,صرافه وحوالات,البلد -دوار الساعه,لم يمارس,جيدة,لا,نعم
10,متوقف,تايكواندو,17.11.2016,الرابع,الثالث,الرحمه,دكتور جامعي,جامعه الخليل,لم يمارس,جيدة,لا,نعم
11,متوقف,تايكواندو,١٧/٤/٢٠١٢,الأول,السابع,الحاجه نظيره ابو ارميله,طبيب,صحة الخليل,لم يمارس,جيدة,لا,لا
12,متوقف,تايكواندو,25/06/2015,الأول,الرابع,الفاروق,لحام,شارع السلام ملحمة البيك,لم يمارس,جيدة,لا,حسب
13,متوقف,تايكواندو,7/1/2013,الثاني,السابع,اسحاق شاور للبنين,موظف,البلد شارع الملك فيصل,لم يمارس,جيدة,لا,لا
14,متوقف,تايكواندو,28/12/2016,الثالث,الثالث,اسحاق شاور للبنين,موظف,البلد شارع الملك فيصل,لم يمارس,جيدة,لا,لا
15,متوقف,تايكواندو,7/6/2003,الرابع,جامعة,جامعة,تاجر,شارع بئر السبع,لم يمارس,جيدة,لا,لا
16,متوقف,ضرب البوكس او الملاكمة,22/9/2016,الأول,الثالث,جلوري,صاحب شركة فرج زلوم لاطارات السيارات,شارع السلام مقابل صيدلية الشماس,تايكواندو,جيدة,لا,نعم
17,متوقف,تايكواندو,١٤/١/٢٠٢٠,الأول,روضه,روضه,طبيب,المستشفى الاهلي,لم يمارس,جيدة,لا,لا
18,متوقف,تايكواندو,١/٦/٢٠١٧,الأول,الثاني,شبان المسلمين,عامل,الخليل,لم يمارس,جيدة,لا,نعم
19,متوقف,تايكواندو,26/4/2016,السادس,الثالث,رواد المعرفة,نجار,الخليل/تفوح,لم يمارس,جيدة,لا,نعم
20,متوقف,تايكواندو,٢٥_١٠_٢٠١٩,الثاني,الأول,المدرسه الحديثه,عامل بناء,عسقلان,لم يمارس,جيدة,لا,نعم
21,متوقف,تايكواندو,٢٤/٢/٢٠١٥,الأول,الرابع,مدرسة الجامعة النكوذجية,نجار,الخليل - عين سارة,لم يمارس,جيدة,لا,نعم
22,متوقف,تايكواندو,١٠-٢-٢٠١٨,الأول,الثاني,مدرسة ساوث,ربة منزل,لا اعمل,كراتيه,جيدة,لا,لا
23,متوقف,تايكواندو,25/2/2017,الثاني,الثاني,الرساله,شركة توصيل اون لاين,الحاووز الثاني,لم يمارس,جيدة,لا,نعم
24,متوقف,تايكواندو,4/2/2018,الثاني,الأول,مدرسة الجامعة,نجار,عين سارة,لم يمارس,جيدة,لا,نعم

In [800]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   مستمر/ متوقف                          191 non-null    object
 1   اشتراك في                             192 non-null    object
 2   تاريخ ميلاد المشترك                   191 non-null    object
 3   ترتيب المشترك بين الأخوة              191 non-null    object
 4   الصف                                  191 non-null    object
 5   المدرسة                               191 non-null    object
 6   وظيفة ولي الأمر                       191 non-null    object
 7   مكان عمل ولي الأمر                    191 non-null    object
 8   هل مارس المشترك ألعاب قتالية سابقاً؟  191 non-null    object
 9   حالة المشترك الصحية                   191 non-null    object
 10  هل أجري للمشترك عمليات جراحية؟        191 non-null    object
 11  المواصلات                             191 non-null    object
dtypes: object(12)
memory usage: 18.3+ KB

### **Feature Engineering**

In [801]:
# Renaming Columns from English to Arabic
data = data.rename(columns={
    'مستمر/ متوقف': 'player_status',
    'اشتراك في': 'desired_activity',
    'تاريخ ميلاد المشترك': 'birthday',
    'ترتيب المشترك بين الأخوة': 'family_order',
    'الصف': 'school_grade',
    'المدرسة': 'school',
    'وظيفة ولي الأمر': 'guardian_job',
    'مكان عمل ولي الأمر': 'guardian_job_location',
    'هل مارس المشترك ألعاب قتالية سابقاً؟': 'previous_fighting_experience',
    'حالة المشترك الصحية': 'has_health_condition',
    'هل أجري للمشترك عمليات جراحية؟': 'had_surgery',
    'المواصلات':'needs_transportation',
})

In [802]:
data = data.dropna(subset=['player_status'])

In [803]:
data.head(15)

,player_status,desired_activity,birthday,family_order,school_grade,school,guardian_job,guardian_job_location,previous_fighting_experience,has_health_condition,had_surgery,needs_transportation
0,متوقف,تايكواندو,3-10-2011,الأول,الثامن,عايش السيد,أستاذ,مدرسة صادق نيروخ,لم يمارس,العمر العقلي أقل من أقرانه,لا,نعم
1,متوقف,تايكواندو,30/7/2017,الأول,الثاني,مدرسه الرساله الخاصه,موظف حكومي,المؤتمر الوطني الشعبي للقدس - رام الله,لم يمارس,جيدة,لا,نعم
2,متوقف,تايكواندو,١٤/٦/٢٠١٥,الأول,الثالث,جمعية الشبان المسلمين,محاسب /,محلات أبو عيشة لقطع السيارات الالمانية /شارع ا...,لم يمارس,جيدة,عملية لوز,نعم
3,متوقف,تايكواندو,17/10/2016,الثاني,الثاني,جمعية الشبان المسلمين,محاسب,محلات ابو عيشة لقطع السيارات,لم يمارس,جيدة,لا,نعم
4,متوقف,تايكواندو,٢٥/٦/٢٠١٨,الأول,الأول,جمعية الشبان المسلمين,تاجر ملابس,الخليل,0595422122,0595422123,لا,نعم
5,متوقف,تايكواندو,3/5/2018,الأول,الأول,الرحمة,طبيب عيون,مستشفى سان جون,لم يمارس,جيدة,عملية تنزيل خصية مهاجرة,نعم
6,متوقف,تايكواندو,14/9/2019,الثاني,تمهيدي,روضة المحبة,طبيب عيون,مستشفى سان جون,لم يمارس,جيدة,لا,نعم
7,متوقف,تايكواندو,12/5/2013,الاول,السادس,الحاجه نظيره,تاجر,الخليل,لم يمارس,جيدة,لا,لا
8,متوقف,تايكواندو,15-5-2012,الرابع,السابع,المدرسة الشرعية,تاجر,الخليل,لم يمارس,جيدة,لا,نعم
9,متوقف,تايكواندو,11-11-2015,الأول,الثالث,الانجيليه العربيه,صرافه وحوالات,البلد -دوار الساعه,لم يمارس,جيدة,لا,نعم
10,متوقف,تايكواندو,17.11.2016,الرابع,الثالث,الرحمه,دكتور جامعي,جامعه الخليل,لم يمارس,جيدة,لا,نعم
11,متوقف,تايكواندو,١٧/٤/٢٠١٢,الأول,السابع,الحاجه نظيره ابو ارميله,طبيب,صحة الخليل,لم يمارس,جيدة,لا,لا
12,متوقف,تايكواندو,25/06/2015,الأول,الرابع,الفاروق,لحام,شارع السلام ملحمة البيك,لم يمارس,جيدة,لا,حسب
13,متوقف,تايكواندو,7/1/2013,الثاني,السابع,اسحاق شاور للبنين,موظف,البلد شارع الملك فيصل,لم يمارس,جيدة,لا,لا
14,متوقف,تايكواندو,28/12/2016,الثالث,الثالث,اسحاق شاور للبنين,موظف,البلد شارع الملك فيصل,لم يمارس,جيدة,لا,لا

In [804]:
data['desired_activity'].value_counts()

desired_activity
تايكواندو                                         170
مخيم                                               11
جمباز                                               2
ننشاكو                                              2
كراتيه                                              2
ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو       1
ضرب البوكس او الملاكمة                              1
كرتيه                                               1
كرتيه                                               1
Name: count, dtype: int64

In [805]:
# desired_activity: may be  taekwondo, camp, gumbaz, karate, or boxing.
data['desired_activity'] = data['desired_activity'].str.lower().map({
    'تايكواندو': 'taekwondo',
    'مخيم': 'camp',
    'جمباز': 'gumbaz',
    'كراتيه': 'karate',
    'ضرب البوكس او الملاكمة': 'boxing',
    'كرتيه': 'karate',
    'ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو': 'taekwondo',
    'كرتيه': 'karate',
    '.':'taekwondo'
})

In [806]:
data['desired_activity'].value_counts()

desired_activity
taekwondo    170
camp          11
karate         3
gumbaz         2
boxing         1
Name: count, dtype: int64

In [807]:
# remove all rows other than taekwondo.
data = data[data['desired_activity'] == 'taekwondo']

In [808]:
data['desired_activity'].value_counts()

desired_activity
taekwondo    170
Name: count, dtype: int64

In [809]:
data['desired_activity'].isna().sum()

np.int64(0)

In [810]:
# remove the column since there is no need to it now.
data = data.drop(columns=['desired_activity'])

In [811]:
data['birthday'].value_counts()

birthday
٢٥/٦/٢٠١٨        2
19/12/2012       2
9/12/2018        2
16/8/2014        2
٢٩/١٠/٢٠١٦       2
3/5/2018         1
14/9/2019        1
12/5/2013        1
15-5-2012        1
11-11-2015       1
17.11.2016       1
١٧/٤/٢٠١٢        1
25/06/2015       1
7/1/2013         1
28/12/2016       1
7/6/2003         1
١٤/١/٢٠٢٠        1
١/٦/٢٠١٧         1
26/4/2016        1
٢٥_١٠_٢٠١٩       1
٢٤/٢/٢٠١٥        1
١٠-٢-٢٠١٨        1
25/2/2017        1
4/2/2018         1
25/11/2013       1
2/1/2014         1
7/6/2016         1
٢٠/١/٢٠١٦        1
٢٧/٥/٢٠١٢        1
7/7/2015         1
15/12/2015       1
02/06/2017       1
3/2/2015         1
3-10-2011        1
30/7/2017        1
١٤/٦/٢٠١٥        1
17/10/2016       1
2011/14/9        1
9/10/2013        1
١/٢/٢٠١٦         1
١٩/٨/٢٠١٣        1
٨/٩/٢٠٠٩         1
١٤.١٢.٢٠١٩       1
٧/١١/٢٠١٣        1
20.09.2015       1
٢٤ - ٨- ٢٠١٤     1
2- 7- 2017       1
9_10_2010        1
6/3/2017         1
29/3/2020        1
٢٤/٤/٢٠٢٠        1
19_09_2011       1
19/05/2017       1
28/4/2021        1
٢٩/٥/٢٠١٧        1
28/9/2018        1
1/11/2020        1
٨/١١/٢٠١٨        1
17/072012        1
٦/٦/٢٠١٢         1
1/9/2018         1
15/9/2019        1
٢٧/٦/٢٠١٩        1
16-7-2014        1
٢٤-٤-٢٠٢١        1
١٩/٨/٢٠١٨        1
6/12/2016        1
30/1/2019        1
20/6/2019        1
٨/٨٢٠١٩          1
15/1/2019        1
صف ثاني          1
23-3-2019        1
12-06-2020       1
١٠/٥/٢٠١٦        1
١٤/٧/٢٠١٨        1
٢٤-٥-٢٠٢٠        1
14-08-2017       1
22/6/2012        1
٧/١٠/٢٠١٤        1
٤.٥.٢٠١٨         1
13/10/2019       1
5/1/2019         1
07/9/2012        1
21/11/1014       1
6/8/2017         1
28/7/2018        1
١١.٨.٢٠٢٠        1
١٧/٥/٢٠١٧        1
16/5             1
8/4/2016         1
19/9/2018        1
13-12-2013       1
5-11-2015        1
20///7           1
22////8          1
30-11-2017       1
2015             1
٤/٦/٢٠١٣         1
٢٥-٧-٢٠١٩        1
16/09/2017       1
26-11-2019       1
24/3/2019        1
١٤/12 / 2016     1
4/10/2017        1
4/3/2018         1
28/7/2011        1
16/5/2015        1
14/7             1
22/4/2019        1
7/4/2019         1
24/4/2019        1
29/11/2014       1
٢٥/٨/٢٠١٨        1
١٢_١_٢٠١٦        1
١_٧_٢٠١٨         1
08-03-2015       1
17/9/2017        1
21/11/2019       1
١/٣/٢٠١٨         1
8_5_2020         1
20/5/2018        1
4/3/2012         1
20/04/2020       1
7/12/2019        1
28اذار 2012      1
18 ايلول 2017    1
16/8/2013        1
29/5/2016        1
١٤ـ٦ ـ٢٠١٥       1
١٦/١/٢٠١٨        1
١٢/١٠/٢٠١٧       1
19/7/2019        1
٩/٤/٢٠٠٧         1
٢٢/٩/٢٠١٨        1
٢٧/٧/٢٠١٩        1
18/9/2018        1
30/9/2019        1
15/1/2018        1
4-10-2013        1
23-2-2017        1
18/08/2018       1
22/7/2020        1
22-2-2019        1
٢/٢/٢٠١٦         1
6/6/2014         1
٢٧/٢/٢٠٠٢        1
١٩/١١/٢٠١٨       1
٢٧ /٦/٢٠١٦       1
24/3/2016        1
26/4/2021        1
3/7/2015         1
24/7/2014        1
20/7/2019        1
‏12/8/2014       1
24)12 )2018      1
٣_٤-٢٠١٥         1
2016.11.29       1
١٣/٩/٢٠١٢        1
11.8.2013        1
19/7/2012        1
8/11/2013        1
29.4.2016        1
8/12/2016        1
‏٩/٥/٢٠٢٠        1
Name: count, dtype: int64

In [812]:
data['player_status'].value_counts()

player_status
متوقف    111
مستمر     45
نصاب      14
Name: count, dtype: int64

In [813]:
data['player_status'].isna().sum()

np.int64(0)

In [814]:
# player_status: may be  stopped or windler: 0, continuous: 1.
data['player_status'] = data['player_status'].str.lower().map({
    'متوقف': 'stopped',
    'مستمر': 'continuous',
    'نصاب': 'swindler'
})

In [815]:
data['player_status'].value_counts()

player_status
stopped       111
continuous     45
swindler       14
Name: count, dtype: int64

In [816]:
# player_status: may be  stopped or windler: 1, continuous: 0.
data['player_status'] = data['player_status'].map({
    'stopped': 1,
    'swindler': 1,
    'continuous': 0
})

In [817]:
data['player_status'].value_counts()

player_status
1    125
0     45
Name: count, dtype: int64

In [818]:
data['family_order'].value_counts()

family_order
الأول      73
الثاني     34
الثالث     25
الخامس     13
الرابع     13
السادس      5
السادس      2
السابع      2
الاول       1
6           1
الثامن      1
Name: count, dtype: int64

In [819]:
data['family_order'] = (
    data['family_order']
    .astype(str)
    .str.strip()
)

In [820]:
data['family_order'] = data['family_order'].str.lower().map({
    'الأول': 1,
    'الاول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    '6': 6,
    'السابع': 7,
    'الثامن': 8
}).astype(int)

In [821]:
data['family_order'].isna().sum()

np.int64(0)

In [822]:
data['family_order'].value_counts()

family_order
1    74
2    34
3    25
4    13
5    13
6     8
7     2
8     1
Name: count, dtype: int64

In [823]:
data['school_grade'].value_counts()

school_grade
الأول              36
الثاني             33
الثالث             19
الرابع             17
السادس             13
الثامن             12
السابع             10
الخامس             10
تمهيدي              4
تمهيدي              3
روضة                2
روضه                2
.                   2
جامعة               1
عاشر                1
مدخلش اشي اسعان     1
روضة                1
روضه                1
التاسع              1
تمهيدي روضة         1
Name: count, dtype: int64

In [824]:
data['school_grade'] = (
    data['school_grade']
    .astype(str)
    .str.strip()
)

In [825]:
# school_grade: from 1-10 are school grades, 11 is high education, and -1 is kindergaten
data['school_grade'] = data['school_grade'].str.lower().map({
    'الأول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    'السابع': 7,
    'الثامن': 8,
    'التاسع': 9,
    'عاشر': 10,
    'جامعة': 11,
    'تمهيدي': -1,
    'روضة': -1,
    'روضه': -1,
    'مدخلش اشي اسعان': -1,
    'تمهيدي روضة': -1,
    '.': -1
})

In [826]:
data['school_grade'].isna().sum()

np.int64(0)

In [827]:
data['school_grade'].value_counts().sort_index()

school_grade
-1     17
 1     36
 2     33
 3     19
 4     17
 5     10
 6     13
 7     10
 8     12
 9      1
 10     1
 11     1
Name: count, dtype: int64

In [828]:
# remove 9,10,11 grades since they have only 1 value.
data = data[~data['school_grade'].isin([9, 10, 11])]

In [829]:
data['school_grade'].value_counts().sort_index()

school_grade
-1    17
 1    36
 2    33
 3    19
 4    17
 5    10
 6    13
 7    10
 8    12
Name: count, dtype: int64

In [830]:
# since I have the school_grade, there is no need for the birthday.
data = data.drop(columns=['birthday'])

In [831]:
data['school'].value_counts()

school
الرحمه                                     6
عبد الحي شاهين                             4
جمعية الشبان المسلمين                      4
انس بن مالك                                4
رواد المعرفة                               3
جمعية الشبان المسلمين                      3
نظيرة                                      3
انصار الابداع                              3
ابن العربي                                 2
مدرسة الدجاني                              2
الرحمة                                     2
عايش السيد                                 2
طلائع خليل الرحمن                          2
جبريل زلوم                                 2
شبان المسلمين                              2
بنات الخليل الاساسية                       2
الرساله                                    2
عبد الله بن مسعود                          2
مدرسه الرساله الخاصه                       1
الحاجه نظيره                               1
روضة المحبة                                1
اسحاق شاور للبنين                          1
المدرسه الحديثه                            1
الحاجة نظيرة                               1
مدرسة الجامعة                              1
النخبه                                     1
النخبه                                     1
فهد القواسمه                               1
اسحاق شاور                                 1
اسحق شاور                                  1
نظيره                                      1
نظيرة ابو ارميله                           1
راضي شاكر النتشة                           1
العهد الخاصه                               1
ذكور الشرعيه الثانويه                      1
روضه                                       1
اسحاق شاور للبنين                          1
الفاروق                                    1
المدرسة الشرعية                            1
الحاجه نظيره للبنين                        1
روضة الذكاء العقلي                         1
براعم الاقص                                1
نظيره ابو رميله                            1
الغدير                                     1
ابن النفيس                                 1
الهاجريه                                   1
أحلام الصغار                               1
مدخلش مدرسه                                1
انس ابن مالك                               1
الدكتور اسحق شاور                          1
روابي المختلطه الاساسيه                    1
مدرسة الدكتور اسحق شاور الاساسيه للبنين    1
مدرسة الدجاني                              1
الجامعة النموذجية                          1
النخبة                                     1
جلوري العالميه                             1
أحلام الصغار                               1
روضة فرح ومرح                              1
الرحمة الأساسية للبنات                     1
مدرسة الأمل                                1
ابو غزالة                                  1
الرابطه                                    1
مدرسة نور الغد                             1
خرسا                                       1
مدرسة العروب الأساسية للبنين               1
السعدية                                    1
أنس ابن مالك                               1
مدرسة الجامعة النكوذجية                    1
مدرسة ساوث                                 1
الانجيليه العربيه                          1
الحاجه نظيره ابو ارميله                    1
وصايا رسول الله                            1
بركات الاساسية                             1
الدكتور اسحق خليل شاور الاساسية            1
مدرسة جلوري                                1
روضة                                       1
عبد الحي شاهين                             1
الجامعه                                    1
مدرسة الرسالة                              1
الاكاديمبه                                 1
المستقبل                                   1
‏الأكاديمية                                1
المستقبل                                   1
زكاء العقلي                                1
رابطة الجامعين                             1
مدرسة المستقبل الخاصة                      1
ابن الربيع                                 1
الرحمة                                     1
غازي القوسمه                               1
مدرسة الجامعة النموذجية الشاملة            1
نور الحق                                   1
مدرسه الرحمه الاساسيه                      1
النخبة                                     1
حربي ابو الضبعات                           1
الانروا للبنات                             1
اكاديمية القادة                            1
انس بن مالك                                1
دعاء الخير                                 1
الازهار                                    1
مدرسة النور الخاصة                         1
المنار                                     1
رواد المعرفة                               1
روضة المميزون                              1
مدرسة الجامعة النموذجية                    1
مدرسة الرحمة للذكور                        1
الشبان المسلمين                            1
العهد                                      1
المحمديه                                   1
وداد ناصر الدين .                          1
مدرسة غازي القواسمه                        1
كندر كيدز                                  1
مدرسة انس  ابن مالك                        1
اسحق شاور الاساسية للبنين                  1
الشرعية                                    1
المدرسة الشرعية للبنات                     1
مدرسة الرحمة الأساسية للذكور               1
روضة المواهب                               1
الرحمة للذكور                              1
زلوم                                       1
العهد الخاثة                               1
.                                          1
الفاروق                                    1
الشهيد غازي القواسمي                       1
الخبراء النموذجية                          1
مدرسه الحاجه نظيره                         1
الحاجه نظيره                               1
النخبة النموذجية                           1
تيسير مسودي                                1
دار السلام                                 1
العهد الخاصه                               1
الهدى                                      1
معهد الخليل الأزهري                        1
ابن رشد                                    1
الامام علي                                 1
روضة ابن النفيس                            1
Name: count, dtype: int64

In [832]:
def classify_school(name):

    if pd.isna(name):
        return 'other'

    if (
        'الحي' in name or 'السعدية' in name or 'عايش' in name or 'الفاروق' in name or 'علي' in name or
        'الدجاني' in name or 'شاور' in name or 'ابراهيم' in name or 'راضي' in name or 'فهد' in name or
        'الهاجر' in name or 'الغدير' in name or 'غزالة' in name or 'شاهين' in name or 'غازي' in name or
        'الضبعات' in name or 'وداد' in name or 'المحمدية' in name or 'زلوم' in name or 'الدويك' in name or
        'تيسير' in name or 'رشد' in name
    ):
      return 'public'

    return 'private'

In [833]:
data['school'] = data['school'].apply(classify_school)

In [834]:
data['school'].isna().sum()

np.int64(0)

In [835]:
data['school'].value_counts()

school
private    130
public      37
Name: count, dtype: int64

In [836]:
data['school'] = data['school'].map({
    'private': 1,
    'public': 0
})

In [837]:
data['school'].value_counts()

school
1    130
0     37
Name: count, dtype: int64

In [838]:
data['guardian_job'].value_counts()

guardian_job
تاجر                               34
عامل                                6
موظف                                6
تاجر                                6
طبيب                                5
محاسب                               4
مهندس                               3
موظف خاص                            3
فني اسنان                           3
تاجر ملابس                          3
محامي                               2
طبيب مخبري                          2
مطعم                                2
نجار                                2
عامل                                2
فني اسنان                           2
ممرضة قانونية                       2
فني كهرباء                          2
مندوب مبيعات                        2
تكنولوجيا واتمتة صناعية             2
ربة منزل                            1
شركة توصيل اون لاين                 1
لحام                                1
طبيب عيون                           1
صرافه وحوالات                       1
دكتور جامعي                         1
طبيب عيون                           1
محاسب /                             1
أستاذ                               1
موظف حكومي                          1
دكتور اسنان                         1
سائق                                1
معلم                                1
تاجر أقمشة                          1
رجل اعمال                           1
مندوب مبيعات                        1
تاجر مواد غذائية                    1
ميكانيكي                            1
نجار                                1
عامل بناء                           1
مدير معرض                           1
موضف حكومي                          1
حلويات سلطان باشا                   1
تجارة                               1
منشار                               1
ربة بيت                             1
موظف وزارة المالية                  1
موظف  وزارة المالية                 1
مهندس ميكانيك                       1
اعمل حره                            1
موظف قطاع خاص                       1
مسؤول علاقات عامة وإعلام            1
مهندس ومدير شركة فيرتكس للمصاعد     1
معلمة                               1
دهان خشب                            1
محاضر في جامعة البوليتكنك           1
فني أسنان                           1
Supply chain supervisor             1
اختصاصي تصوير طبي                   1
موظف في حلويات سلطان باشا           1
اختصاصي بصريات                      1
مهندس الكترونيات                    1
ديكور خشب                           1
مديرة                               1
مطعم                                1
تاجره                               1
شركة حج وعمرة                       1
مهندس في شركة                       1
لاشي                                1
‏وتاجر                              1
حلواني                              1
مدير مبيعات                         1
امين مستودع                         1
مدير شركة المشرق للتأمين            1
مهندس                               1
تمديدات صحية                        1
محاسب في شركة الموارد الوطنية       1
ربه منزل                            1
صاحب شركه فنون للرافعات             1
مدير شركه                           1
طباخ                                1
محاضر                               1
موظف خاص                            1
فني دهان بيوت                       1
.                                   1
عامل في مصنع بلاستيك                1
مهندس كهرباء                        1
صاحب مطعم البشاوات                  1
ميكانيكي                            1
حداد                                1
حداد                                1
مرشد تربوي                          1
مواطن                               1
تصليح هواتف                         1
Name: count, dtype: int64

In [839]:
def classify_job(job):

    if pd.isna(job):
        return 'unknown'

    if (
        'موظف' in job or 'عامل' in job or 'مندوب' in job or
        'أستاذ' in job or 'جامعي' in job or 'حكومي' in job or
        'معلم' in job or 'مسؤول ' in job or 'supervisor' in job or
        'جامعة' in job or 'محاسب' in job or 'استاذ' in job or
        'مرشد' in job or 'محاضر' in job or 'طبيب' in job or
        'مهندس' in job or 'اسنان' in job or 'مطعم ' in job or
        'تكنولوجيا' in job or 'شركة' in job or 'صرافة ' in job or
        'مستودع' in job or 'حلواني' in job or 'اختصاص ' in job or
        'مدير' in job or 'حلويات' in job
    ):
        return 'employed'

    if (
        'تاجر' in job or 'تصليح' in job or 'حداد' in job or
        'سائق' in job or 'ميكانيكي' in job or 'اعمال' in job or
        'تمديدات' in job or 'صاحب ' in job or 'تجارة' in job or
        'لحام' in job or 'كهربجي' in job or 'طباخ' in job or
        'حره' in job or 'دهان' in job
    ):
        return 'self_employed'

    return 'unknown'

In [840]:
data['guardian_job'] = data['guardian_job'].apply(classify_job)

In [841]:
data['guardian_job'].isna().sum()

np.int64(0)

In [842]:
data['guardian_job'].value_counts()

guardian_job
employed         83
self_employed    62
unknown          22
Name: count, dtype: int64

In [843]:
data = pd.get_dummies(data, columns=['guardian_job'], drop_first=True)

In [844]:
data['guardian_job_location'].value_counts()

guardian_job_location
الخليل                                                 39
الخليل                                                 15
دورا                                                    2
مستشفى عالية الحكومي                                    2
كهرباء الخليل                                           2
طلعة ادعيس                                              2
عين سارة                                                2
البلد شارع الملك فيصل                                   2
دورا                                                    2
الخليل الحاووز الاول                                    2
ابو عيشة لقطع السيارات                                  2
حلحول                                                   2
جامعه الخليل                                            1
محلات ابو عيشة لقطع السيارات                            1
البلد -دوار الساعه                                      1
مستشفى سان جون                                          1
مستشفى سان جون                                          1
لا اعمل                                                 1
الخليل - عين سارة                                       1
عسقلان                                                  1
الخليل/تفوح                                             1
الخليل مقابل دائره السير                                1
محلات أبو عيشة لقطع السيارات الالمانية /شارع السلام     1
المؤتمر الوطني الشعبي للقدس - رام الله                  1
مدرسة صادق نيروخ                                        1
محل تجاري ( باب الزاوية )                               1
شركة حلقوم وحلويات الماسة تفوح                          1
الحاووز الثاني                                          1
مدرسة الراشدين الثانويه                                 1
شارع السلام                                             1
الظاهريه                                                1
بلا عمل                                                 1
شارع السلام                                             1
معرض الامير للمفروشات                                   1
سعير                                                    1
هيبرون سنتر A                                           1
المقاطعة                                                1
المنطقه الصناعيه                                        1
صحة الخليل                                              1
شارع السلام ملحمة البيك                                 1
المستشفى الاهلي                                         1
خرسا -الدير                                             1
الخليل .دوار الصحه                                      1
مطعم و مشاوي المدينة                                    1
امريكا                                                  1
الخليل عمارة الواحة مختبر بيروت                         1
المحاور بالقرب من نادي الفروسية                         1
شركة سنقرط                                              1
عيصى                                                    1
باب الزاويه مقابل صيدلية الرازي                         1
رأس الجورة                                              1
الخليل دوار ابن رشد عمارة الواحة                        1
اطباء بلا حدود                                          1
الجلده                                                  1
واد الهرية                                              1
جامعة البوليتكنك                                        1
دوره                                                    1
وزارة الصحة الفلسطينية                                  1
الخليل واد الهريه أبو شرخ للالبسة                       1
باب الزاوية                                             1
غير محددد متنقل                                         1
دوا الصحه                                               1
دوار الصحه                                              1
‏مكان العمل                                             1
المستشفى الاهلي                                         1
الخليل جبل ابو رمان                                     1
دائرة السير                                             1
الخليل-وادي ابو كتيلا                                   1
شارع واد التفاح                                         1
بيت أمر                                                 1
الخليل /باب الزاويه                                     1
رام الله                                                1
واد التفاح عمارة الكنز معرض الاقصى للمنسوجات            1
الخليل شارع السلام                                      1
لا يوجد                                                 1
الخليل/دوار الصحة                                       1
الخليل واد الهريه                                       1
الجلده                                                  1
ترقوميا                                                 1
الخليل شارع السلام مقابل كازية السلام                   1
الخليل شارع السلام مقابل كازية السلام                   1
الخليل بيت كاحل                                         1
بيت لحم                                                 1
سما مول                                                 1
واد ابو كتيلة بجانب ديوان الجنيدي                       1
شارعةالعدل                                              1
الخليل ابن رشد                                          1
مجمع فلسطين الطبي                                       1
الهليل                                                  1
نمرة                                                    1
الخليل ابن رشد                                          1
محكمه الخليل                                            1
جامعة بوليتكنك فلسطين                                   1
المنطقة الصناعية الفحص                                  1
المنطقة الصناعية                                        1
.                                                       1
محكمة الخليل                                            1
الهيبرون سنترa                                          1
داخل الخط الاخضر                                        1
بلدية الخليل                                            1
الخليل الحاووز                                          1
قرن الثور                                               1
قرن الثور طريق المقاطعة                                 1
مدرسة طارق بن زياد الثانوية للبنين                      1
عصيون رامي لڤي                                          1
Name: count, dtype: int64

In [845]:
def classify_job_location(location):

# 1: inside th city (near). 0: outside the city (far). -1: unknown.
    if pd.isna(location):
        return -1

    if (
        'دورا' in location or 'حلحول' in location or 'تفوح' in location or 'الظاهريه' in location or 'السعودية' in location or
         'سعير' in location or 'خرسا' in location or 'امريكا' in location or 'عسقلان' in location or 'رام الله' in location or
         'دوره' in location or 'بيت أمر' in location or 'ترقوميا' in location or 'بيت لحم' in location or 'بيت كاحل' in location or
         'بيت فجار' in location or 'الخط الاخضر' in location or 'عصيون' in location
    ):
        return 0

    return 1

In [846]:
data['guardian_job_location'] = data['guardian_job_location'].apply(classify_job_location)

In [847]:
data['guardian_job_location'].value_counts()

guardian_job_location
1    145
0     22
Name: count, dtype: int64

In [848]:
data['previous_fighting_experience'].value_counts()

previous_fighting_experience
لم يمارس                                                                                                             147
كاراتيه                                                                                                                6
كراتيه                                                                                                                 2
تايكوندو                                                                                                               2
جمباز مدة سنة                                                                                                          1
0595422122                                                                                                             1
كراتية بجمعية سيدات الخليل انهى الحزام الاصفر                                                                          1
كاراتيه ، في المدرسة الكورية الفلسطينية للبنين لمدة سنة ، كيك بوكسنج لمدة نصف سنة في نادي رياضي مقابل الخليل مول       1
كان في النادي عندكم سابقا                                                                                              1
نادي غرس القرآني شارع العدل الخليل                                                                                     1
  كارتيه                                                                                                               1
 كيك بوكسنك                                                                                                            1
دورات سباحة                                                                                                            1
كارتيه للحزام الازرق وبعدها ما راح                                                                                     1
Name: count, dtype: int64

In [849]:
def classify_previous_experience(answer):
# has experience: 1. Does not have: 0. Unknown: -1
    if pd.isna(answer):
        return -1

    if ('لم يمارس' in answer):
        return 0

    return 1

In [850]:
data['previous_fighting_experience'] = data['previous_fighting_experience'].apply(classify_previous_experience)

In [851]:
data['previous_fighting_experience'].value_counts()

previous_fighting_experience
0    147
1     20
Name: count, dtype: int64

In [852]:
data['has_health_condition'].value_counts()

has_health_condition
جيدة                                  158
لديه مشكله هبوط فالسكر                  2
العمر العقلي أقل من أقرانه              1
0595422123                              1
ضعف بالنظر                              1
إمساك مزمن                              1
حساسية في الجهاز التنفسي                1
نقص في الحديد وفيتامين د                1
ممنوع لمس الرأس لمشاكل صحية معينة       1
Name: count, dtype: int64

In [853]:
def classify_helath_case(condition):
# has health conditions: 1. Does not have health conditions: 0. Unknown: -1
    if pd.isna(condition):
        return -1

    if ('جيدة' in condition):
        return 0

    return 1

In [854]:
data['has_health_condition'] = data['has_health_condition'].apply(classify_helath_case)

In [855]:
data['has_health_condition'].value_counts()

has_health_condition
0    158
1      9
Name: count, dtype: int64

In [856]:
data['had_surgery'].value_counts()

had_surgery
لا                                    144
عملية لوز                               1
عملية تنزيل خصية مهاجرة                 1
 عمليه افتاق قبل سنتين                  1
عملية فقط لوز وجيوب انفية               1
نعم عملية فتاق                          1
عملية فتاق                              1
عملية تثبيت خصيه                        1
عملية إزالة اللحمية واللوزتين           1
استئصال اللوزتين،اللحمية                1
إزالة لحمية أنف وحنجرة                  1
لوز ولحمية و تيوبات في الاذن            1
فتاق                                    1
ازالة لوز ولحمية                        1
عملية تقويم اعوجاج بالمنطقة الخاصة      1
نفخ مصارين                              1
ازالة الزائدة الدودية                   1
٢ عمليات العيون                         1
ازالة اللوز                             1
عملية لوز                               1
عملية لحمية                             1
نعم                                     1
فتح باب معدة                            1
الفتاق                                  1
Name: count, dtype: int64

In [857]:
def classify_surgery_history(surgery):
# had surgery: 1. Did not have surgery: 0. Unknown: -1
    if pd.isna(surgery):
        return -1

    if ('لا' in surgery):
        return 0

    return 1

In [858]:
data['had_surgery'] = data['had_surgery'].apply(classify_surgery_history)

In [859]:
data['had_surgery'].value_counts()

had_surgery
0    145
1     22
Name: count, dtype: int64

In [860]:
data['needs_transportation'].value_counts()

needs_transportation
نعم           98
لا            65
حسب            1
نصف مواصلة     1
ربما           1
لا             1
Name: count, dtype: int64

In [861]:
def classify_transportaion_need(transport):
# needs transportation: 1. Does not need transportaion: 0.

    if pd.isna(transport):
        return 0

    if ('لا' in transport):
        return 0

    return 1

In [862]:
data['needs_transportation'] = data['needs_transportation'].apply(classify_transportaion_need)

In [863]:
data['needs_transportation'].value_counts()

needs_transportation
1    101
0     66
Name: count, dtype: int64

In [864]:
data['needs_transportation'].value_counts()

needs_transportation
1    101
0     66
Name: count, dtype: int64

In [865]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, 0 to 190
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   player_status                 167 non-null    int64
 1   family_order                  167 non-null    int64
 2   school_grade                  167 non-null    int64
 3   school                        167 non-null    int64
 4   guardian_job_location         167 non-null    int64
 5   previous_fighting_experience  167 non-null    int64
 6   has_health_condition          167 non-null    int64
 7   had_surgery                   167 non-null    int64
 8   needs_transportation          167 non-null    int64
 9   guardian_job_self_employed    167 non-null    bool
 10  guardian_job_unknown          167 non-null    bool
dtypes: bool(2), int64(9)
memory usage: 13.4 KB

In [866]:
print('the shape of the data is:', data.shape)
data.head(25)

the shape of the data is: (167, 11)

,player_status,family_order,school_grade,school,guardian_job_location,previous_fighting_experience,has_health_condition,had_surgery,needs_transportation,guardian_job_self_employed,guardian_job_unknown
0,1,1,8,0,1,0,1,0,1,False,False
1,1,1,2,1,0,0,0,0,1,False,False
2,1,1,3,1,1,0,0,1,1,False,False
3,1,2,2,1,1,0,0,0,1,False,False
4,1,1,1,1,1,1,1,0,1,True,False
5,1,1,1,1,1,0,0,1,1,False,False
6,1,2,-1,1,1,0,0,0,1,False,False
7,1,1,6,1,1,0,0,0,0,True,False
8,1,4,7,1,1,0,0,0,1,True,False
9,1,1,3,1,1,0,0,0,1,False,True
10,1,4,3,1,1,0,0,0,1,False,False
11,1,1,7,1,1,0,0,0,0,False,False
12,1,1,4,0,1,0,0,0,1,True,False
13,1,2,7,0,1,0,0,0,0,False,False
14,1,3,3,0,1,0,0,0,0,False,False
17,1,1,-1,1,1,0,0,0,0,False,False
18,1,1,2,1,1,0,0,0,1,False,False
19,1,6,3,1,0,0,0,0,1,False,True
20,1,2,1,1,0,0,0,0,1,False,False
21,1,1,4,1,1,0,0,0,1,False,True
22,1,1,2,1,1,1,0,0,0,False,True
23,1,2,2,1,1,0,0,0,1,False,False
24,1,2,1,1,1,0,0,0,1,False,True
25,1,6,6,1,1,0,0,0,1,True,False
26,1,6,6,1,0,0,0,1,0,False,False

### **Modeling**

In [867]:
# Spliting the data into training and testing sets
x = data[['school_grade', 'family_order', 'school',
          'guardian_job_self_employed', 'guardian_job_unknown',
          'guardian_job_location', 'previous_fighting_experience',
          'has_health_condition', 'had_surgery', 'needs_transportation']]

y = data['player_status']

"""x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42, stratify = y)

print("Training set has {} samples.".format(x_train.shape[0]))
print("Testing set has {} samples.".format(x_test.shape[0]))"""

'x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42, stratify = y)\n\nprint("Training set has {} samples.".format(x_train.shape[0]))\nprint("Testing set has {} samples.".format(x_test.shape[0]))'

#### **Random Forrest Model**

In [868]:
"""rf = RandomForestClassifier(
    n_estimators=100,
    random_state=42,
    class_weight='balanced'
)

rf.fit(x_train,y_train)"""

"rf = RandomForestClassifier(\n    n_estimators=100,\n    random_state=42,\n    class_weight='balanced'\n)\n\nrf.fit(x_train,y_train)"

In [869]:
"""y_pred = rf.predict(x_test)"""

'y_pred = rf.predict(x_test)'

In [870]:
"""y_prob = rf.predict_proba(x_test)[:, 1]"""

'y_prob = rf.predict_proba(x_test)[:, 1]'

In [871]:
"""print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))"""

'print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))\nprint("Accuracy:", accuracy_score(y_test, y_pred))\nprint("Precision:", precision_score(y_test, y_pred))\nprint("Recall:", recall_score(y_test, y_pred))\nprint("F1 Score:", f1_score(y_test, y_pred))\nprint("ROC-AUC:", roc_auc_score(y_test, y_prob))\n\nprint("\nClassification Report:\n")\nprint(classification_report(y_test, y_pred))'

In [872]:
"""feat_importances = pd.Series(rf.feature_importances_, index=x.columns)
feat_importances.sort_values(ascending=True).plot(kind='barh', figsize=(8,6))
plt.title("Feature Importance")
plt.show()"""

'feat_importances = pd.Series(rf.feature_importances_, index=x.columns)\nfeat_importances.sort_values(ascending=True).plot(kind=\'barh\', figsize=(8,6))\nplt.title("Feature Importance")\nplt.show()'

In [873]:
"""feat_importances"""

'feat_importances'

In [874]:
"""pd.crosstab(data['school_grade'], data['player_status'], normalize='index')"""

"pd.crosstab(data['school_grade'], data['player_status'], normalize='index')"

In [875]:
"""churn_rate = pd.crosstab(data['school_grade'], y, normalize='index') [1].sort_values(ascending=False)
churn_rate"""

"churn_rate = pd.crosstab(data['school_grade'], y, normalize='index') [1].sort_values(ascending=False)\nchurn_rate"

In [876]:
"""churn_rate.sort_index().plot(kind='bar', figsize=(8,5))
plt.title("Churn Rate by School Grade")
plt.ylabel("Churn Rate")
plt.xlabel("School Grade")
plt.show()"""

'churn_rate.sort_index().plot(kind=\'bar\', figsize=(8,5))\nplt.title("Churn Rate by School Grade")\nplt.ylabel("Churn Rate")\nplt.xlabel("School Grade")\nplt.show()'

In [877]:
"""pd.crosstab(data['school_grade'], y)"""

"pd.crosstab(data['school_grade'], y)"

#### **Logestic Regression Model**

In [878]:
"""scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)"""

'scaler = StandardScaler()\nx_train = scaler.fit_transform(x_train)\nx_test = scaler.transform(x_test)'

In [879]:
"""log_reg = LogisticRegression(max_iter=1000)

log_reg.fit(x_train, y_train)"""

'log_reg = LogisticRegression(max_iter=1000)\n\nlog_reg.fit(x_train, y_train)'

In [880]:
"""y_pred = log_reg.predict(x_test)
y_prob = log_reg.predict_proba(x_test)[:,1]"""

'y_pred = log_reg.predict(x_test)\ny_prob = log_reg.predict_proba(x_test)[:,1]'

In [881]:
"""print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))"""

'print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))\nprint("Accuracy:", accuracy_score(y_test, y_pred))\nprint("Precision:", precision_score(y_test, y_pred))\nprint("Recall:", recall_score(y_test, y_pred))\nprint("F1 Score:", f1_score(y_test, y_pred))\nprint("ROC-AUC:", roc_auc_score(y_test, y_prob))\n\nprint("\nClassification Report:\n")\nprint(classification_report(y_test, y_pred))'

In [882]:
"""fpr, tpr, thresholds = roc_curve(y_test, y_prob)

auc_score = roc_auc_score(y_test, y_prob)

plt.figure(figsize=(7,5))
plt.plot(fpr, tpr, label=f"Logistic Regression (AUC = {auc_score:.2f})")
plt.plot([0,1], [0,1], linestyle='--')  # random classifier line
plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.title("ROC Curve")
plt.legend()
plt.show()

print("ROC-AUC Score:", auc_score)"""

'fpr, tpr, thresholds = roc_curve(y_test, y_prob)\n\nauc_score = roc_auc_score(y_test, y_prob)\n\nplt.figure(figsize=(7,5))\nplt.plot(fpr, tpr, label=f"Logistic Regression (AUC = {auc_score:.2f})")\nplt.plot([0,1], [0,1], linestyle=\'--\')  # random classifier line\nplt.xlabel("False Positive Rate")\nplt.ylabel("True Positive Rate")\nplt.title("ROC Curve")\nplt.legend()\nplt.show()\n\nprint("ROC-AUC Score:", auc_score)'

In [883]:
"""y.value_counts(normalize=True)"""

'y.value_counts(normalize=True)'

#### **Logestic Regression Croos Validation**

In [884]:
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LogisticRegression(max_iter=1000))
])

cv_auc = cross_val_score(
    pipeline,
    x,
    y,
    cv=5,
    scoring='roc_auc'
)

print("Logistic CV AUC scores:", cv_auc)
print("Mean AUC:", cv_auc.mean())

Logistic CV AUC scores: [0.52666667 0.38666667 0.27       0.69675926 0.52777778]
Mean AUC: 0.48157407407407404

#### **Random Forrest Croos Validation**

In [885]:
rf = RandomForestClassifier(random_state=42)

cv_auc_rf = cross_val_score(
    rf,
    x,
    y,
    cv=5,
    scoring='roc_auc'
)

print("Random Forest CV AUC:", cv_auc_rf)
print("Mean AUC:", cv_auc_rf.mean())

Random Forest CV AUC: [0.62888889 0.35555556 0.32       0.66898148 0.21990741]
Mean AUC: 0.43866666666666665