<a href="https://colab.research.google.com/github/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior/blob/main/Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Data Driven Insights into Taekwondo Player Behavior
In this project, I am exploring Taekwondo players’ behaviour patterns using Machine Learning and feature engineering on Arabic-language data. The goal is to extract actionable insights for the club, while tackling challenges in data preprocessing and analysis.

### **Initialization**

In [7]:
# GitHub
!git clone https://github.com/EssaAlsharif/Data-Driven-Insights-into-Taekwondo-Player-Behavior
%cd Data-Driven-Insights-into-Taekwondo-Player-Behavior
!ls

Cloning into 'Data-Driven-Insights-into-Taekwondo-Player-Behavior'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 14 (delta 2), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (14/14), 55.82 KiB | 937.00 KiB/s, done.
Resolving deltas: 100% (2/2), done.
/content/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior/Data-Driven-Insights-into-Taekwondo-Player-Behavior
 Data_Driven_Insights_into_Taekwondo_Player_Behavior.ipynb
 README.md
'Registeration Data.csv'

In [8]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
!pip install gdown
import gdown

import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans

import warnings
warnings.filterwarnings("ignore")

# magic word for producing visualizations in notebook
%matplotlib inline

pd.options.display.max_rows = None
pd.options.display.max_columns = None

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.20.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2026.1.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

### **Loading Data**

In [9]:
# Load data.
data = pd.read_csv("Registeration Data.csv")
print('the shape of the data is:', data.shape)
data.head(5)

the shape of the data is: (194, 12)

,مستمر/ متوقف,اشتراك في,تاريخ ميلاد المشترك,ترتيب المشترك بين الأخوة,الصف,المدرسة,وظيفة ولي الأمر,مكان عمل ولي الأمر,هل مارس المشترك ألعاب قتالية سابقاً؟,حالة المشترك الصحية,هل أجري للمشترك عمليات جراحية؟,المواصلات
0,متوقف,تايكواندو,3-10-2011,الأول,الثامن,عايش السيد,أستاذ,مدرسة صادق نيروخ,لم يمارس,العمر العقلي أقل من أقرانه,لا,نعم
1,متوقف,تايكواندو,30/7/2017,الأول,الثاني,مدرسه الرساله الخاصه,موظف حكومي,المؤتمر الوطني الشعبي للقدس - رام الله,لم يمارس,جيدة,لا,نعم
2,متوقف,تايكواندو,١٤/٦/٢٠١٥,الأول,الثالث,جمعية الشبان المسلمين,محاسب /,محلات أبو عيشة لقطع السيارات الالمانية /شارع ا...,لم يمارس,جيدة,عملية لوز,نعم
3,متوقف,تايكواندو,17/10/2016,الثاني,الثاني,جمعية الشبان المسلمين,محاسب,محلات ابو عيشة لقطع السيارات,لم يمارس,جيدة,لا,نعم
4,متوقف,تايكواندو,٢٥/٦/٢٠١٨,الأول,الأول,جمعية الشبان المسلمين,تاجر ملابس,الخليل,0595422122,0595422123,لا,نعم

In [ ]:
data.info()

### **Renaming form Arabic to English**

In [10]:
# Renaming Columns from English to Arabic
data = data.rename(columns={
    'مستمر/ متوقف': 'player_status',
    'اشتراك في': 'desired_activity',
    'تاريخ ميلاد المشترك': 'birthday',
    'ترتيب المشترك بين الأخوة': 'family_order',
    'الصف': 'school_grade',
    'المدرسة': 'school',
    'وظيفة ولي الأمر': 'guardian_job',
    'مكان عمل ولي الأمر': 'guardian_job_location',
    'هل مارس المشترك ألعاب قتالية سابقاً؟': 'previous_fighting_experience',
    'حالة المشترك الصحية': 'has_health_condition',
    'هل أجري للمشترك عمليات جراحية؟': 'had_surgery',
    'ملاحظات خاصة بالمشترك': 'special_notes',
    'المواصلات':'needs_transportaion',
    'عنوان السكن':'address'
})

In [12]:
data['player_status'].value_counts()

player_status
متوقف    130
مستمر     45
نصاب      16
Name: count, dtype: int64

In [13]:
# player_status: may be  stopped, continuous, or swindler.
data['player_status'] = data['player_status'].str.lower().map({
    'متوقف': 'stopped',
    'مستمر': 'continuous',
    'نصاب': 'swindler'
})

In [14]:
data['player_status'].value_counts()

player_status
stopped       130
continuous     45
swindler       16
Name: count, dtype: int64

In [16]:
data['desired_activity'].value_counts()

desired_activity
تايكواندو                                         170
مخيم                                               11
ننشاكو                                              2
جمباز                                               2
كراتيه                                              2
ضرب البوكس او الملاكمة                              1
كرتيه                                               1
ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو       1
كرتيه                                               1
.                                                   1
Name: count, dtype: int64

In [17]:
# desired_activity: may be  taekwondo, camp, gumbaz, karate, or boxing.
data['desired_activity'] = data['desired_activity'].str.lower().map({
    'تايكواندو': 'taekwondo',
    'مخيم': 'camp',
    'جمباز': 'gumbaz',
    'كراتيه': 'karate',
    'ضرب البوكس او الملاكمة': 'boxing',
    'كرتيه': 'karate',
    'ما ترونه الأنسب لعمره وشخصيته.بتوقع تايكواندو': 'taekwondo',
    'كرتيه': 'karate',
    '.':'taekwondo'
})

In [18]:
data['desired_activity'].value_counts()

desired_activity
taekwondo    171
camp          11
karate         3
gumbaz         2
boxing         1
Name: count, dtype: int64

In [30]:
# remove all rows other than taekwondo.
data = data[data['desired_activity'] == 'taekwondo']

In [31]:
data['desired_activity'].value_counts()

desired_activity
taekwondo    171
Name: count, dtype: int64

In [32]:
# remove the column since there is no need to it now.
data = data.drop(columns=['desired_activity'])

In [33]:
data['family_order'].value_counts()

family_order
1.0    73
2.0    34
3.0    25
4.0    13
5.0    13
6.0     6
7.0     2
8.0     1
Name: count, dtype: int64

In [20]:
data['family_order'] = data['family_order'].str.lower().map({
    'الأول': 1,
    'الاول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    'السادس': 6,
    '6': 6,
    'السابع': 7,
    'الثامن': 8
})

In [21]:
data['family_order'].value_counts()

family_order
1.0    76
2.0    39
3.0    31
4.0    16
5.0    16
6.0     7
7.0     2
8.0     1
Name: count, dtype: int64

In [22]:
data['school_grade'].value_counts()

school_grade
الأول              40
الثاني             37
الثالث             21
الرابع             20
السادس             15
الثامن             14
الخامس             13
السابع             11
تمهيدي              4
تمهيدي              3
روضة                2
روضه                2
.                   2
جامعة               1
عاشر                1
مدخلش اشي اسعان     1
روضة                1
روضه                1
التاسع              1
تمهيدي روضة         1
Name: count, dtype: int64

In [23]:
# school_grade: from 1-10 are school grades, 100 is high education, and -1 is kindergaten
data['school_grade'] = data['school_grade'].str.lower().map({
    'الأول': 1,
    'الثاني': 2,
    'الثالث': 3,
    'الرابع': 4,
    'الخامس': 5,
    'السادس': 6,
    'السابع': 7,
    'الثامن': 8,
    'التاسع': 9,
    'عاشر': 10,
    'جامعة': 100,
    'تمهيدي': -1,
    'روضة': -1,
    'روضه': -1,
    'مدخلش اشي اسعان': -1,
    'تمهيدي روضة': -1
})

In [24]:
data['school_grade'].value_counts()

school_grade
 1.0      40
 2.0      37
 3.0      21
 4.0      20
 6.0      15
 8.0      14
 5.0      13
 7.0      11
-1.0      10
 100.0     1
 10.0      1
Name: count, dtype: int64

In [25]:
data['school'].value_counts()

school
الرحمه                                     7
جمعية الشبان المسلمين                      4
عبد الحي شاهين                             4
انس بن مالك                                4
جمعية الشبان المسلمين                      3
جبريل زلوم                                 3
نظيرة                                      3
رواد المعرفة                               3
انصار الابداع                              3
شبان المسلمين                              2
الرحمة                                     2
مدرسة الجامعة النموذجية الشاملة            2
أبراهيم الشيخ دره                          2
الازهار                                    2
رواد المعرفة                               2
عبد الله بن مسعود                          2
بنات الخليل الاساسية                       2
السعدية                                    2
ابن العربي                                 2
طلائع خليل الرحمن                          2
عايش السيد                                 2
الفاروق                                    2
علماء الإسلام                              2
الامام علي                                 2
الرساله                                    2
مدرسة الدجاني                              2
اسحاق شاور للبنين                          1
جامعة                                      1
روضه                                       1
الحاجه نظيره                               1
المدرسة الشرعية                            1
الحاجه نظيره ابو ارميله                    1
الانجيليه العربيه                          1
روضة المحبة                                1
مدرسه الرساله الخاصه                       1
الفاروق                                    1
اسحاق شاور للبنين                          1
مدرسة الجامعة النكوذجية                    1
المدرسه الحديثه                            1
جلوري                                      1
العهد الخاصه                               1
روضة الذكاء العقلي                         1
ابراهيم ابو الضبعات                        1
نظيره ابو رميله                            1
براعم الاقص                                1
جمعية شبان المسلمين                        1
ذكور الشرعيه الثانويه                      1
نظيرة ابو ارميله                           1
راضي شاكر النتشة                           1
نظيره                                      1
فهد القواسمه                               1
مدرسة الجامعة                              1
مدرسة ساوث                                 1
الجامعة النموذجية                          1
ابن النفيس                                 1
الهاجريه                                   1
الغدير                                     1
النخبة                                     1
أحلام الصغار                               1
روابي المختلطه الاساسيه                    1
مدخلش مدرسه                                1
أحلام الصغار                               1
جلوري العالميه                             1
الرحمة الأساسية للبنات                     1
روضة فرح ومرح                              1
الدكتور اسحق شاور                          1
مدرسة الدكتور اسحق شاور الاساسيه للبنين    1
مدرسة الدجاني                              1
انس ابن مالك                               1
ابو غزالة                                  1
مدرسة الأمل                                1
مدرسة نور الغد                             1
الرابطه                                    1
مدرسة العروب الأساسية للبنين               1
أنس ابن مالك                               1
مدرسة جلوري                                1
خرسا                                       1
الدكتور اسحق خليل شاور الاساسية            1
الحاجه نظيره للبنين                        1
اسحاق شاور                                 1
المدرسة الحديثة                            1
النخبه                                     1
النخبه                                     1
اسحق شاور                                  1
الحاجة نظيرة                               1
عبد الحي شاهين                             1
روضة                                       1
روضة المميزون                              1
مدرسة الرسالة                              1
ابن الربيع                                 1
وصايا رسول الله                            1
بركات الاساسية                             1
‏الأكاديمية                                1
مدرسة المستقبل الخاصة                      1
رابطة الجامعين                             1
زكاء العقلي                                1
الرحمة                                     1
غازي القوسمه                               1
الاكاديمبه                                 1
المستقبل                                   1
الجامعه                                    1
مدرسه الرحمه الاساسيه                      1
النخبة                                     1
الانروا للبنات                             1
حربي ابو الضبعات                           1
انس بن مالك                                1
دعاء الخير                                 1
مدرسة النور الخاصة                         1
اكاديمية القادة                            1
المنار                                     1
مدرسة الجامعة النموذجية                    1
العهد                                      1
مدرسة الرحمة للذكور                        1
الشبان المسلمين                            1
نور الحق                                   1
المدرسه الشرعيه للاولاد                    1
المستقبل                                   1
وداد ناصر الدين .                          1
المدرسة الانجلية العربيه                   1
المحمديه                                   1
مدرسة غازي القواسمه                        1
الشرعية                                    1
المدرسة الشرعية للبنات                     1
مدرسة انس  ابن مالك                        1
كندر كيدز                                  1
روضة المواهب                               1
مدرسة الرحمة الأساسية للذكور               1
الرحمة للذكور                              1
زلوم                                       1
مدرسة السعدية                              1
مدرسة الدويك                               1
فهد القواسمة                               1
اسحق شاور الاساسية للبنين                  1
الإمام علي                                 1
دويك                                       1
العهد الخاثة                               1
.                                          1
الشهيد غازي القواسمي                       1
الخبراء النموذجية                          1
مدرسه الحاجه نظيره                         1
الحاجه نظيره                               1
النخبة النموذجية                           1
تيسير مسودي                                1
دار السلام                                 1
العهد الخاصه                               1
الهدى                                      1
معهد الخليل الأزهري                        1
ابن رشد                                    1
روضة ابن النفيس                            1
Name: count, dtype: int64

In [26]:
def classify_school(name):

    if pd.isna(name):
        return 'other'

    if (
        'الحي' in name or 'السعدية' in name or 'عايش' in name or 'الفاروق' in name or 'علي' in name or
        'الدجاني' in name or 'شاور' in name or 'ابراهيم' in name or 'راضي' in name or 'فهد' in name or
        'الهاجر' in name or 'الغدير' in name or 'غزالة' in name or 'شاهين' in name or 'غازي' in name or
        'الضبعات' in name or 'وداد' in name or 'المحمدية' in name or 'زلوم' in name or 'الدويك' in name or
        'تيسير' in name or 'رشد' in name
    ):
      return 'public'

    return 'private'

In [27]:
data['school'] = data['school'].apply(classify_school)

In [28]:
data['school'].value_counts()

school
private    145
public      46
other        3
Name: count, dtype: int64

In [29]:
data['guardian_job'].value_counts()

guardian_job
تاجر                                   40
تاجر                                    7
موظف                                    6
عامل                                    6
طبيب                                    5
ربة بيت                                 4
محاسب                                   4
عامل                                    4
فني اسنان                               3
موظف خاص                                3
مهندس                                   3
تاجر ملابس                              3
محامي                                   2
رجل اعمال                               2
طبيب مخبري                              2
فني اسنان                               2
ممرضة قانونية                           2
فني كهرباء                              2
نجار                                    2
مطعم                                    2
تكنولوجيا واتمتة صناعية                 2
مندوب مبيعات                            2
تصميم وطباعة                            2
ربه منزل                                2
تاجر مواد غذائية                        1
شركة توصيل اون لاين                     1
ربة منزل                                1
ميكانيكي                                1
أستاذ                                   1
موظف حكومي                              1
محاسب /                                 1
طبيب عيون                               1
طبيب عيون                               1
عامل بناء                               1
نجار                                    1
صاحب شركة فرج زلوم لاطارات السيارات     1
لحام                                    1
دكتور جامعي                             1
صرافه وحوالات                           1
اختصاصي بصريات                          1
موظف في حلويات سلطان باشا               1
حلويات سلطان باشا                       1
مدير مشاريع                             1
مهندس الكترونيات                        1
كهربجي                                  1
موضف حكومي                              1
دكتور اسنان                             1
مندوب مبيعات                            1
سائق                                    1
معلم                                    1
تاجر أقمشة                              1
مهندس ميكانيك                           1
خياط                                    1
موظف وزارة المالية                      1
مدير معرض                               1
مسؤول علاقات عامة وإعلام                1
فني أسنان                               1
معلمة                                   1
مهندس ومدير شركة فيرتكس للمصاعد         1
موظف  وزارة المالية                     1
Supply chain supervisor                 1
محاضر في جامعة البوليتكنك               1
دهان خشب                                1
اختصاصي تصوير طبي                       1
مطعم                                    1
مديرة                                   1
ديكور خشب                               1
منشار                                   1
موظف قطاع خاص                           1
اعمل حره                                1
تجارة                                   1
مهندس في شركة                           1
شركة حج وعمرة                           1
تاجره                                   1
‏وتاجر                                  1
مدير مبيعات                             1
امين مستودع                             1
مدير شركة المشرق للتأمين                1
لاشي                                    1
مهندس                                   1
تمديدات صحية                            1
صاحب شركه فنون للرافعات                 1
محاسب في شركة الموارد الوطنية           1
موظف حكومي                              1
مدير شركه                               1
طباخ                                    1
حلواني                                  1
محاضر                                   1
موظف خاص                                1
فني دهان بيوت                           1
استاذ                                   1
أسير عند سجون الاحتلال                  1
اسير لدى سجون الاحتلال                  1
.                                       1
عامل في مصنع بلاستيك                    1
مهندس كهرباء                            1
صاحب مطعم البشاوات                      1
ميكانيكي                                1
حداد                                    1
حداد                                    1
مرشد تربوي                              1
مواطن                                   1
تصليح هواتف                             1
Name: count, dtype: int64

In [ ]:
def classify_job(job):

    if pd.isna(job):
        return 'other'

    if (
        'موظف' in job or 'عامل' in job or 'مندوب' in job or
        'أستاذ' in job or 'جامعي' in job or 'حكومي' in job or
        'معلم' in job or 'مسؤول ' in job or 'supervisor' in job or
        'جامعة' in job or 'محاسب' in job or 'استاذ' in job or
        'مرشد' in job or 'محاضر' in job
    ):
        return 'employed'

    if (
        'بيت' in job or 'منزل' in job or 'لاشي' in job or 'سجون' in job or '.' in job or 'مواطن' in job
    ):
        return 'unemployed'

    return 'self_employed'

In [ ]:
data['guardian_job'] = data['guardian_job'].apply(classify_job)

In [ ]:
data['guardian_job'].value_counts()

In [ ]:
data['guardian_job_location'].value_counts()

In [ ]:
def classify_job_location(location):

# near: inside th city. far: outside the city.
    if pd.isna(location):
        return 'other'

    if (
        'دورا' in location or 'حلحول' in location or 'تفوح' in location or 'الظاهريه' in location or 'السعودية' in location or
         'سعير' in location or 'خرسا' in location or 'امريكا' in location or 'عسقلان' in location or 'رام الله' in location or
         'دوره' in location or 'بيت أمر' in location or 'ترقوميا' in location or 'بيت لحم' in location or 'بيت كاحل' in location or
         'بيت فجار' in location or 'الخط الاخضر' in location or 'عصيون' in location
    ):
        return 'far'

    return 'near'

In [ ]:
data['guardian_job_location'] = data['guardian_job_location'].apply(classify_job_location)

In [ ]:
data['guardian_job_location'].value_counts()

In [ ]:
data['previous_fighting_experience'].value_counts()

In [ ]:
def classify_previous_experience(answer):
# has experience: 1. Does not have: 0. Unknown: -1
    if pd.isna(answer):
        return -1

    if ('لم يمارس' in answer):
        return 0

    return 1

In [ ]:
data['previous_fighting_experience'] = data['previous_fighting_experience'].apply(classify_previous_experience)

In [ ]:
data['previous_fighting_experience'].value_counts()

In [ ]:
data['has_health_condition'].value_counts()

In [ ]:
def classify_helath_case(condition):
# has health conditions: 1. Does not have health conditions: 0. Unknown: -1
    if pd.isna(condition):
        return -1

    if ('جيدة' in condition):
        return 0

    return 1

In [ ]:
data['has_health_condition'] = data['has_health_condition'].apply(classify_helath_case)

In [ ]:
data['has_health_condition'].value_counts()

In [ ]:
data['had_surgery'].value_counts()

In [ ]:
def classify_surgery_history(surgery):
# had surgery: 1. Did not have surgery: 0. Unknown: -1
    if pd.isna(surgery):
        return -1

    if ('لا' in surgery):
        return 0

    return 1

In [ ]:
data['had_surgery'] = data['had_surgery'].apply(classify_surgery_history)

In [ ]:
data['had_surgery'].value_counts()

In [ ]:
data['needs_transportaion'].value_counts()

In [ ]:
def classify_transportaion_need(transport):
# needs transportaion: 1. Does not need transportaion: 0.

    if pd.isna(transport):
        return 0

    if ('لا' in transport):
        return 0

    return 1

In [ ]:
data['needs_transportaion'] = data['needs_transportaion'].apply(classify_transportaion_need)

In [ ]:
data['needs_transportaion'].value_counts()

In [ ]:
data['needs_transportaion'].value_counts()

In [ ]:
print('the shape of the data is:', data.shape)
data.head(25)

In [ ]:
#data['birthday'] = pd.to_datetime(data['birthday'], errors='coerce')

In [ ]:
#data['birthday'].value_counts()

### Feature Engineering

In [ ]:
# player_status: may be  stopped(0), continuous(1), or swindler(2)
"""data['player_status'] = data['player_status'].str.lower().map({
    'متوقف': 0,
    'مستمر': 1,
    'نصاب': 2
})"""